html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "roboto", sans-serif; }

.font-weight-light {
  font-weight: 100; }

.color-white {
  color: white; }

.align-center {
  text-align: center; }

.header-contact {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.5rem;
  background-color: #333;
  color: white; }

.landing-page {
  height: 93vh;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url("../../img/background_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .landing-page__headings {
    margin-top: -18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .landing-page__heading-primary {
    font-size: 5rem;
    margin-bottom: 2rem;
    font-weight: 300; }
  .landing-page__heading-secondary {
    font-size: 3.5rem;
    font-weight: 100;
    align-self: flex-start; }
  .landing-page__arrow {
    cursor: pointer;
    height: 8rem;
    width: 8rem;
    transition: all 0.2s; }
    .landing-page__arrow:hover, .landing-page__arrow:active {
      transform: scale(1.2); }

.about-me {
  margin: 0 4rem; }
  .about-me__content {
    display: flex;
    justify-content: space-around; }
  .about-me__left {
    width: 50%;
    margin-left: 4rem; }
  .about-me__profile-pic {
    height: 10rem;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin: 2rem;
    shape-outside: circle(50%); }
  .about-me__para {
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0.5px;
    margin-bottom: 1rem; }
  .about-me__picture {
    height: 40rem;
    margin-bottom: 4rem;
    border-radius: 4px;
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.4); }
    .about-me__picture:hover {
      box-shadow: none;
      transform: scale(0.99); }

.technologies {
  margin: 0 4rem;
  background-color: #008679; }
  .technologies__boxes {
    display: flex;
    justify-content: space-evenly; }

.projects {
  height: 100vh; }

.nav {
  font-size: 2rem;
  position: absolute;
  color: #999;
  cursor: pointer; }
  .nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    height: 7rem; }
  .nav__item {
    margin: 0 3rem; }
  .nav a {
    text-decoration: none;
    color: #999;
    transition: all 0.13s; }
    .nav a:hover, .nav a:active {
      color: white; }

.heading-main {
  font-size: 3.5rem;
  font-weight: 200;
  padding: 5rem;
  letter-spacing: 0.2rem; }

.feature-box {
  width: 20%;
  height: 30rem;
  background-color: #8edad3;
  display: flex;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10.02rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #575757; }
  .feature-box__icon {
    font-size: 8rem; }
  .feature-box--html {
    color: red; }
  .feature-box--css {
    color: blue; }
  .feature-box--javascript {
    color: yellow; }
  .feature-box span {
    font-size: 2rem;
    margin: 0.3rem; }
