.nav {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;

  &__list {
    transform: translateX(-50rem);
    position: absolute;
    transition: all 0.2s;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.856);
    top: 15vh;
  }

  &__item {
    list-style-type: none;
    font-size: 3rem;
    padding: 2.5rem;

    &:hover,
    &:active {
      background-color: #333;
    }

    &:hover > a,
    &:active > a {
      color: white;
    }
  }

  &__link {
    text-decoration: none;
    color: black;

    &:hover,
    &:active {
      background-color: #333;
      color: white;
    }
  }
}

.translate {
  transform: translateX(0);
}

.header-contact {
  float: right;
  font-size: 2rem;
  margin: 3rem;

  &__item {
    margin: 3rem;
  }
}
