.about-me {
  margin: 0 4rem;
  // background-color: lightblue;

  @include atLarge {
    &__content {
      display: flex;
      justify-content: space-around;
    }

    &__content {
      display: flex;
      justify-content: space-around;
    }

    &__left {
      width: 50%;
      margin-left: 4rem;
    }
  }

  &__profile-pic {
    height: 10rem;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin: 2rem;
    shape-outside: circle(50%);
  }

  &__para {
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
  }

  &__picture {
    height: 40rem;
    margin-bottom: 4rem;
    border-radius: 4px;

    &:hover {
      box-shadow: none;
      transform: scale(0.99);
    }
  }
}
