.technologies {
  background-color: rgb(0, 134, 121);

  &__boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include atMedium {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
